:root{
    --main_color: darkred;
    --secondary_color: #c67f7f;
    --third_color: #ececec;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.color_bk{
    color: black;
}

.main_color{
    color:var(--main_color);
}

.secondary_color{
    color:var(--secondary_color);
}

.third_color{
    color:var(--third_color);
}

.bg-second{
    background-color: var(--secondary_color);
}
.bg-third{
    background-color: var(--third_color);
    background-repeat: no-repeat;
    background-size: cover;   
}

.bg-white{
    background-color: white;
}

.f_nova{
    font-family: 'Nova Square', cursive;
}

.f_raj{
    font-family: 'Rajdhani', sans-serif;

}

.logo{
    width: 200px;
    height: 100px;
}

.nav-text{
    color: var(--secondary_color);
    font-size: 20px;
    padding: 0px 40px;
    font-weight: 500;
    color: var(--third_color);
}

.bg-header{
    background-image: linear-gradient(180deg,rgba(255,255,255,1),rgba(250,250,250,0)), url(./media/switzerland-862870_1920.jpg);
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding:0px;
}

.mont2-pos{
    padding-top:5%;
    width: 100%;
    padding-bottom:0px;
    margin-bottom:0px;
    z-index: 99999;
}

.head-title{
    position: relative;
}

.title{
    position: relative;
    top:100px;
    font-size: 70px;
    color: var(--main_color);
}

.cite{
    color: var(--secondary_color);
    font-style: oblique;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}



.cite::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10e";
    color: var(--main_color);
    position: relative;
    padding-left: 0.4em;
    top: 10px;
}
.cite::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10d";
    color: var(--main_color);
    position: relative;
    padding-right: 0.4em;
    bottom: 10px;
}

.cite-cont{
    margin-bottom: 30px;
}

.card-cont{
    margin-top: 100px;
}



.logo-card>i {
    font-size: 35px;
}

.logo-card>hr{
    color: var(--main_color);
    opacity: 1;
    border: 1px solid var(--main_color);
    width: 150px;
}

.logo-card>p{
    padding-top: 5px;
    font-size: 10px;
}

.logo-card>p::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 90;
    content: "\f111";
    color: white;
    position: relative;
    /* padding-right: 0.4em; */
    z-index: 999;
    border: 2px solid var(--main_color);
    border-radius: 100%;
    top: 25px;
    left: 36px;
    background-color: white;
}

.cardbut-cont{
    padding-top: 150px;
}

.cardb_title{
    font-weight: 400;
    font-size: 30px;
}

.bg_bord{
    background-color: white;
    height: 10px;
    z-index: 9999;
}

.cardb_p{
    font-size: 10px;
    font-weight: 300;
}

.bg-tree2{
    height: 50vh;
    width: 100%;
    background-image: url(./media/trees2.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom;
}

.btn-main{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 180px;
    height: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: crimson;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .time-sect{
    border-left: 5px solid var(--main_color);
    height: 100px;
    margin-left: 30px;
} */

.time-circle{
    font-size: 25px;
    font-weight: 500;
    color: var(--main_color);
    padding-left: 0px;
    margin-left: 0px;
}


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: var(--main_color);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 3px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--main_color);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.bg-trees{
    background-image: url(./media/single.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999999;
    height: 60vh;   
}

.card_tonde{
    font-size: 10px;
    color: var(--main_color);
}

.card_tonde>img{
    border: 2px solid var(--main_color);
    border-radius: 100%;
    overflow: hidden;
    padding: 8px;
}

.card_tonde>ul{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    
}
.card_tonde>ul>li{
    float:inline-start;
    font-size: 10px;
    text-align: center;
    padding-right: 20px;
}

.benefit-img{
    border: 2px solid var(--main_color);
    border-radius: 100%;
    overflow: hidden;
    padding: 8px;
}

.bg-other{
    background-image: url(./media/other.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999999;
    height: 50vh;  
    padding: 0px;
    margin: 0px; 
}

.bg-footer{
    background-color: var(--main_color);
    background-position: bottom;
    background-size: cover;
    color:white;
}

.title-footer{
    font-size: 30px;
}

.footer-list{
    padding-top: 50px;
}
.li-footer{
    font-size: 15px;
}