:root{
    --main_color: darkred;
    --secondary_color: #c67f7f;
    --third_color: #ececec;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.color_bk{
    color: black;
}

.main_color{
    color:var(--main_color);
}

.secondary_color{
    color:var(--secondary_color);
}

.third_color{
    color:var(--third_color);
}

.bg-second{
    background-color: var(--secondary_color);
}
.bg-third{
    background-color: var(--third_color);
    background-repeat: no-repeat;
    background-size: cover;   
}

.bg-white{
    background-color: white;
}

.f_nova{
    font-family: 'Nova Square', cursive;
}

.f_raj{
    font-family: 'Rajdhani', sans-serif;

}

.logo{
    width: 200px;
    height: 100px;
}

.nav-text{
    color: var(--secondary_color);
    font-size: 20px;
    padding: 0px 40px;
    font-weight: 500;
    color: var(--third_color);
}

.bg-header{
    background-image: linear-gradient(180deg,rgba(250,250,250,0.9),rgba(255,255,255,0.4)), url(./media/switzerland-862870_1920.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding:0px;
}